<%- include('./partials/header') %>
<img src="https://sneakernews.com/wp-content/uploads/2022/10/jordan-1-lost-and-found-5.jpg" alt="Jordan1" width="500" height="600">
<h2></h2>

<%- include('./partials/footer') %>