<%- include('../partials/header') %>

<h2>Add Shoe</h2>
<form action="/sneakers" method="POST">
  <label>Name:
    <input type="text" name="title">
  </label><br>
  <label>Brand:
    <input type="text" name="title">
  </label><br>
  <label>Size:
    <input type="number" name="size">
  </label><br>
  <label>Sold:
    <input type="checkbox" name="Sold" checked>
  </label><br>
  <button type="submit">Add Shoe</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>
